<div class="component-wrap payment-method-wrap">
    <div class="heading-wrap">
        <div class="inner">
            <div class="popup-heading">Payment Method</div>
            <div class="popup-close" (click)="closePopup()"><i class="material-icons">close</i></div>
        </div>
    </div>

    <div class="middle-wrap">
        <div class="inner row">
            <div class="col-xs-12 col-sm-4 radio-cols">
                <div class="col-inner">
                    <md-radio-group [(ngModel)]="paymentMethod">
                        <md-radio-button value="1">Cost Center</md-radio-button>
                        <md-radio-button value="2">Credit Card</md-radio-button>
                    </md-radio-group>
                </div>
            </div>
            <div class="col-xs-12 col-sm-8 selected-option-cols col-border" *ngIf="paymentMethod == 1">
                <div class="col-inner padding-left-15">
                    <h3>Please choose cost center from below list</h3>

                    <div class="form-wrap">
                        <div class="cols">
                            <div class="full-width-input-wrap">
                                <md-select placeholder="Select" floatPlaceholder="never">
                                    <md-option value="BOA-NY">BOA NY</md-option>
                                    <md-option value="TEST-1">TEST 1</md-option>
                                    <md-option value="TEST-2">TEST 2</md-option>
                                </md-select>
                            </div>
                        </div>
                        <div class="cols">
                            <md-input-container class="full-width-input-wrap">
                                <input mdInput placeholder="" value="10000-10208050" floatPlaceholder="never">                            
                            </md-input-container>
                        </div>
                    </div>

                    <h4 class="link">LOOK UP ALTERNATE USER COST CENTER</h4>
                </div>
            </div>
            <div class="col-xs-12 col-sm-8 selected-option-cols col-border" *ngIf="paymentMethod == 2">
                <div class="col-inner padding-left-15">
                    <h3>Please fill up below details</h3>

                    <div class="form-wrap">
                        <div class="cols">
                            <md-input-container class="full-width-input-wrap">
                                <input mdInput placeholder="Name*" value="">                            
                            </md-input-container>
                        </div>
                        <div class="cols">
                            <md-input-container class="full-width-input-wrap">
                                <input mdInput placeholder="Card Number*" value="">                            
                            </md-input-container>
                        </div>
                        <div class="cols col-xs-8">
                            <md-input-container class="full-width-input-wrap">
                                <input mdInput type="password" placeholder="Security Code*" value="">                            
                            </md-input-container>
                        </div>
                        <div class="col-xs-4 security-code-text padding-right-0">
                            <div class="text">3 or 4 Digit Code</div>
                        </div>
                        <div class="clearfix"></div>

                        <div class="expiration-text">
                            Expiration*
                        </div>

                        <div class="col-xs-6 padding-left-0">
                            <div class="full-width-input-wrap">
                                <md-select placeholder="Month*">
                                    <md-option value="jan">Janaury</md-option>
                                    <md-option value="feb">February</md-option>
                                    <md-option value="march">March</md-option>
                                    <md-option value="april">April</md-option>
                                </md-select>
                            </div>
                        </div>
                        <div class="col-xs-6 padding-right-0">
                            <div class="full-width-input-wrap">
                                <md-select placeholder="Year*">
                                    <md-option value="2022">2022</md-option>
                                    <md-option value="2021">2021</md-option>
                                    <md-option value="2020">2020</md-option>
                                    <md-option value="2019">2019</md-option>
                                    <md-option value="2018">2018</md-option>
                                </md-select>
                            </div>
                        </div>
                        <div class="clearfix"></div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="action-wrap">
        <div class="text-right">
            <button type="button" md-button class="app-btn gray-button" (click)="closePopup()">Cancel</button>
            <button type="submit" md-button class="app-btn orange-button save-btn">Add</button>
        </div>
    </div>
</div>