page-all-users {
    .item {
        margin-top: 15px;
        cursor: pointer;

        &:first-child {
            margin-top: 0px;
        }

        .user-name {
            margin-top: 3px;
        }
    }

    .online {
        background-color: green;
        width: 15px;
        height: 15px;
        border-radius: 100%;
    }

    .list-avatar-page {
        ion-note {
            font-size: 12px;
            align-self: flex-start;
            margin-top: 14px;
        }
    }
}
