<div class="section-wrap">
    <div class="top-section">
        <div class="col-xs-12 col-sm-6 padding-left-0">
            <app-heading-section [heading]="headingTitle">
                <ol class="breadcrumb" breadcrumbs>                    
                    <li *ngIf="routedFrom == 'groups'"><a [routerLink]="['/admin/groups']">Groups</a></li>
                    <li *ngIf="routedFrom == 'facilities'"><a [routerLink]="['/admin/facilities']">Facility Management</a></li>                    
                    <li *ngIf="routedFrom == 'facilities'"><a [routerLink]="['/admin/facilities/facility/'+selectedFacilityId+'/groups']">{{selectedFacilityName}}</a></li>                    
                    <li class="active" *ngIf="mode == 'add'">Add</li>
                    <li class="active" *ngIf="mode == 'details' || mode == 'edit'">{{selectedGroupName}}</li>
                    <li class="active" *ngIf="mode == 'edit'">Edit</li>                    
                    <li class="active" *ngIf="mode == 'details'">Details</li>
                </ol>
            </app-heading-section>
        </div>
        <div class="clearfix"></div>        
    </div>

    <form [formGroup]="addGroupsForm" novalidate>         
        <div class="middle-section">        
            <div class="col-xs-12 col-sm-12 padding-left-0 padding-right-0">
                <div class="md-card-col col-xs-12 col-1">
                    <md-card>
                        <div class="md-card-inner">
                            <div class="form-wrap row">
                                <div class="col-sm-6 col-xs-12 cols">
                                    <md-input-container class="full-width-input-wrap">
                                        <input mdInput placeholder="Enter Group Name" formControlName="groupName">
                                        <md-error *ngIf="addGroupsForm.controls['groupName'].hasError('required')">
                                            Group Name is <strong>required</strong>
                                        </md-error>
                                    </md-input-container>
                                </div>

                                <div class="col-sm-6 col-xs-12 cols">
                                    <div class="full-width-input-wrap select-box-wrap" formGroupName="facility">
                                        <md-select placeholder="Select Facility" formControlName="facilityId">
                                            <md-option *ngFor="let facility of facilities" [value]="facility.facilityId" >
                                                {{ facility.name }}
                                            </md-option>
                                        </md-select>
                                        <md-error *ngIf="this.addGroupsForm.controls['facility'].controls['facilityId'].hasError('required') && this.addGroupsForm.controls['facility'].controls['facilityId'].touched">
                                            Facility is <strong>required</strong>
                                        </md-error>
                                    </div> 
                                </div>
                                <div class="col-sm-6 col-xs-12 cols">
                                    <md-input-container class="full-width-input-wrap">
                                        <input mdInput placeholder="Enter Number of Jobs Per Day" formControlName="numberOfJobsPerDay">
                                        <md-error *ngIf="addGroupsForm.controls['numberOfJobsPerDay'].hasError('required')">
                                            No of jobs is <strong>required</strong>
                                        </md-error>
                                        <md-error *ngIf="addGroupsForm.controls['numberOfJobsPerDay'].hasError('pattern')">
                                            Please enter valid number of jobs
                                        </md-error>
                                         <md-error *ngIf="addGroupsForm.controls['numberOfJobsPerDay'].hasError('min')">
                                            Minimum number of jobs per day should be <strong>1</strong>
                                        </md-error>
                                    </md-input-container>
                                </div>
                                <div class="col-sm-6 col-xs-12 cols col-second">
                                    <div class="full-width-input-wrap select-box-wrap">
                                        <md-select placeholder="Select Product" formControlName="groupProducts" multiple>
                                            <md-option *ngFor="let product of products" [value]="product.productId" selected="1 == 1">
                                                {{ product.productName }}
                                            </md-option>
                                        </md-select>
                                        <md-error *ngIf="addGroupsForm.controls['groupProducts'].hasError('required') && addGroupsForm.controls['groupProducts'].touched">
                                            Products Name is <strong>required</strong>
                                        </md-error>
                                    </div>  
                                </div>
                                <div class="col-sm-6 col-xs-12 cols">
                                    <md-input-container class="full-width-input-wrap">
                                        <input mdInput placeholder="Enter Total Job Price Per User Per Day" formControlName="jobPricePerUserPerDay">
                                        <md-error *ngIf="addGroupsForm.controls['jobPricePerUserPerDay'].hasError('required')">
                                            Total job price is <strong>required</strong>
                                        </md-error>
                                         <md-error *ngIf="addGroupsForm.controls['jobPricePerUserPerDay'].hasError('pattern')">
                                            Please enter valid total job price
                                        </md-error>
                                         <md-error *ngIf="addGroupsForm.controls['jobPricePerUserPerDay'].hasError('min')">
                                            Minimum total job price should be <strong>1</strong>
                                        </md-error>
                                    </md-input-container>
                                </div>
                            </div><!--.form-wrap-->                        
                        </div>
                    </md-card>
                </div>
                <div class="md-card-col col-xs-12 col-sm-6 col-2">
                    <md-card>
                            <div class="md-card-inner">
                                <div class="form-wrap row">
                                    <md-card-title>
                                        <div class="col-sm-8 col-xs-8 card_head text-left"> Users ({{_users.length}})</div>
                                        <div class="col-sm-4 col-xs-4 text-right card_head blue_text link" (click)="addUserPopup('user')" *ngIf="!disabled">ADD</div>
                                    </md-card-title>
                                    <md-card-content class="users-manager-cards-wrap">
                                        <md-list>
                                            <md-list-item *ngFor="let user of addGroupsForm.controls.users.controls; let i = index">
                                                <div class="list-inner" [formGroup]="user">
                                                    <span>{{user.controls.userName.value}}</span>
                                                    <input type="hidden" formControlName="userName">
                                                    <input type="hidden" formControlName="userId">
                                                    <i class="material-icons remove-item" (click)="removeUser(i)" *ngIf="!disabled">close</i> 
                                                </div>
                                            </md-list-item>
                                        </md-list>
                                    </md-card-content>
                                </div>
                            </div>
                    </md-card>
                </div>
                <div class="md-card-col col-xs-12 col-sm-6 col-3">
                    <md-card>
                        <div class="md-card-inner">
                            <div class="form-wrap row">
                                <md-card-title>
                                    <div class="col-sm-8 col-xs-8 card_head text-left"> Approver Manager ({{_managers.length}})</div>
                                    <div class="col-sm-4 col-xs-4 text-right card_head blue_text link" (click)="addUserPopup('manager')" *ngIf="!disabled">ADD</div>
                                </md-card-title>
                                <md-card-content class="users-manager-cards-wrap">
                                    <md-list>
                                        <md-list-item *ngFor="let manager of addGroupsForm.controls.approvalManagers.controls; let i = index">
                                            <div class="list-inner" [formGroup]="manager">
                                                <span>{{manager.controls.userName.value}}</span>
                                                <input type="hidden" formControlName="userName">
                                                <input type="hidden" formControlName="userId">
                                                <i class="material-icons remove-item" (click)="removeManager(i)" *ngIf="!disabled">close</i> 
                                            </div>
                                        </md-list-item>                                
                                    </md-list>
                                </md-card-content>
                            </div>
                        </div>
                    </md-card>
                </div>
                <div class="clearfix"></div>
            </div>                  
        </div>

        <div class="action-wrap">
            <div class="text-right">
                <button type="button" md-button class="app-btn gray-button" (click)="gotoGroups()">Cancel</button>
                <button type="submit" md-button class="app-btn orange-button save-btn" (click)="saveGroup(addGroupsForm)" *ngIf="!disabled">Save</button>
            </div>
        </div>
    </form>
</div>
