<div class="lf-page-main-wrap forgot-password-main-wrap">
    <div class="login-page-bg"> 
        <img src="assets/images/login_wallpaper.png" class="login-page-bg_pic" />
    </div>
    <div class="login row">
        <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12 martop10" style="height: 100%;">
        <a class="back-btn link" (click)="gotoLogin()">
            <i class="fa fa-arrow-left" aria-hidden="true"></i>
            <i class="material-icons"></i>
        </a>
        
        <div class="wrapper-lg forgot-password-wrap">
            <div class="text-center"><img src="assets\images\forgot-bg.png"/></div>
            <div class="login-info">               
                <h4>Can't Login? Forgot your Password</h4>
                <p class="martop20">Enter your email address below and we will send you password reset instructions</p>
            </div>
            <form #loginForm="ngForm" novalidate>
                <div class="row has-feedback nopaddong margB30">
                    <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12  margB0"> 
                        <label>Enter Your Email Address</label>
                    </div>
                    <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12"> 
                        <div class="home-input">
                            <input  class="login-input" type="text" placeholder="Username"  
                                [(ngModel)]="loginRequest.userName" name="loginName"
                                #loginName="ngModel" autocomplete="off" required maxlength="50"/>
                        </div>
                    </div>
                </div>           
            
                <div class="row has-feedback nopaddong">
                    <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12"> 
                    <div class="text-right"> 
                    <button class="mdl-button mdl-js-button mdl-button--raised btn-orange" [disabled]="!loginForm.form.valid" (click)="forgotPassword()">SEND</button>
                    </div>
                    </div>       
                </div>                 
            </form>
        </div>

        <div class="copyright-row">
            <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12 text-center padding30">
                <p><small>Copyright © 2017, Printshop. All Rights Reserved.</small></p>
            </div>
        </div>
    </div>
</div>