<div class="component-wrap">
  <div class="heading-wrap">
    <div class="inner">
      <div class="popup-heading">{{heading}}</div>
      <div class="popup-close" (click)="closePopup()"><i class="material-icons">close</i></div>
    </div>
  </div>

  <div class="form-wrap">
    <form [formGroup]="addEditCostCenterForm" novalidate>
        <div class="form-wrap row">    
            <div class="col-sm-6 col-xs-12">
                <md-input-container class="full-width-input-wrap">
                    <input mdInput placeholder="Cost Center Name" formControlName="costCenterName">              
                    <md-error *ngIf="addEditCostCenterForm.controls['costCenterName'].hasError('required')">
                        Cost center name is <strong>required</strong>.
                    </md-error>
                </md-input-container>
            </div>
            <div class="col-sm-6 col-xs-12">
                <md-input-container class="full-width-input-wrap">
                    <input mdInput placeholder="Cost Center Code" formControlName="costCenterCode">            
                    <md-error *ngIf="addEditCostCenterForm.controls['costCenterCode'].hasError('required')">
                        Cost Center Code is <strong>required</strong>.
                    </md-error>                
                </md-input-container>
            </div>
            <div class="col-sm-6 col-xs-12">
                <md-input-container class="full-width-input-wrap">
                    <input mdInput placeholder="Budget Limit" formControlName="budgetLimit">
                     <md-error *ngIf="addEditCostCenterForm.controls['budgetLimit'].hasError('required')">
                        Budget limit is <strong>required</strong>
                    </md-error>  
                    <md-error *ngIf="addEditCostCenterForm.controls['budgetLimit'].hasError('pattern')">
                        Please enter valid budget limit
                    </md-error>      
                </md-input-container>
            </div>        
            <div class="col-sm-6 col-xs-12">
                <div class="full-width-input-wrap select-box-wrap">
                    <md-select placeholder="Assign Group" formControlName="groups" multiple>
                        <md-option *ngFor="let group of groups" [value]="group.groupId" selected="1==1">
                            {{ group.groupName }}
                        </md-option>
                    </md-select>
                    <md-error *ngIf="addEditCostCenterForm.controls['groups'].hasError('required') && addEditCostCenterForm.controls['groups'].touched">
                        Groups are <strong>required</strong>.
                    </md-error>
                </div> 
            </div>        
        </div>

        <div class="action-wrap">
            <div class="text-right">
                <button type="button" md-button class="app-btn gray-button" (click)="closePopup()">Cancel</button>
                <button type="submit" md-button class="app-btn orange-button save-btn" (click)="saveCostCenter(addEditCostCenterForm)">{{saveBtnTitle}}</button>
            </div>
        </div>
    </form>
  </div> 
</div>