$toolbar-background: #005e54;

.show-back-button {
    color: #FFFFFF!important;
}

.scroll-content {
    overflow-y: auto;
    background: #efe7dd url("../assets/images/conversation-bg.jpg") repeat;
}