<div class="component-wrap">    
    <div class="heading-wrap">
      <div class="inner">
        <div class="popup-heading">Upload Facility List</div>
        <div class="popup-close" (click)="closePopup()"><i class="material-icons">close</i></div>
      </div>
    </div>

  <div class="form-wrap row">
    <div class="col-sm-12 col-xs-12 uploader-wrap">
      <label class="uploader" for="input-file">
            <div class="col-xs-12 text-center"><i class="icon-upload3"></i></div>
            <div class="col-xs-12 text-center">Upload Files</div>            
      </label>
      <input id="input-file" type="file" name="file" accept="image/*" (change)="fileChange(input)" #input>
      <span class="blue_text1">Download Excel Template</span>
    </div>
  </div>

  <div class="action-wrap">
    <div class="text-right">
      <button md-button class="app-btn gray-button" (click)="closePopup()">Cancel</button>
      <button md-button class="app-btn orange-button" (click)="saveFacilities()">Save</button>
    </div>
  </div>
</div>