<div class="component-wrap add-edit-user-setup">
  <div class="heading-wrap">
    <div class="inner">
      <div class="popup-heading">{{heading}}</div>
      <div class="popup-close" (click)="closePopup()"><i class="material-icons">close</i></div>
    </div>
  </div>

  <form [formGroup]="addEditUserSetupForm" novalidate>
    <div class="form-wrap row">
        <div class="col-sm-4 col-xs-6">
          <md-input-container class="full-width-input-wrap">
            <input mdInput placeholder="User Name*" formControlName="userName">              
            <md-error *ngIf="addEditUserSetupForm.controls['userName'].hasError('required')">
                User Name is <strong>required</strong>
            </md-error>
          </md-input-container>
        </div>
        <div class="col-sm-4 col-xs-6">
          <md-input-container class="full-width-input-wrap">
            <input mdInput placeholder="Login Name*" formControlName="loginName">              
            <md-error *ngIf="addEditUserSetupForm.controls['loginName'].hasError('required')">
                Login Name is <strong>required</strong>
            </md-error>
          </md-input-container>
        </div>
        <div class="col-sm-4 col-xs-6">
          <div class="full-width-input-wrap">
                <md-select placeholder="User Type" formControlName="userType">
                    <md-option *ngFor="let userType of userTypes" [value]="userType.value">
                        {{ userType.text }}
                    </md-option>
                </md-select>
            </div>
        </div>
        <div class="col-sm-4 col-xs-6">
          <div class="full-width-input-wrap">
                <md-select placeholder="Skill Type" formControlName="skillType">
                    <md-option *ngFor="let skillType of skillTypes" [value]="skillType.value">
                        {{ skillType.text }}
                    </md-option>
                </md-select>
            </div>
        </div>
        <div class="col-sm-4 col-xs-6">
          <md-input-container class="full-width-input-wrap">
            <input mdInput placeholder="Email*" formControlName="email">              
            <md-error *ngIf="addEditUserSetupForm.controls['email'].hasError('required')">
                Email is <strong>required</strong>
            </md-error>
            <md-error *ngIf="addEditUserSetupForm.controls['email'].hasError('pattern')">
                Please enter a valid email id.
            </md-error>
          </md-input-container>
        </div>
        <div class="col-sm-4 col-xs-6">
          <md-input-container class="full-width-input-wrap">
            <input mdInput placeholder="Phone Number*" formControlName="phoneNumber">              
            <md-error *ngIf="addEditUserSetupForm.controls['phoneNumber'].hasError('required')">
                Phone Number is <strong>required</strong>
            </md-error>
          </md-input-container>
        </div>
        <div class="col-sm-4 col-xs-6">
          <div class="full-width-input-wrap">
                <md-select placeholder="Client" formControlName="client">
                    <md-option *ngFor="let client of clients" [value]="client.value">
                        {{ client.text }}
                    </md-option>
                </md-select>
            </div>
        </div>
        <div class="col-sm-4 col-xs-6">
          <md-input-container class="full-width-input-wrap">
            <input mdInput placeholder="Allow Login Attempts (Times)" formControlName="loginAttempts">                     
            <md-error *ngIf="addEditUserSetupForm.controls['loginAttempts'].hasError('pattern')">
                Please enter valid login attempts number.
            </md-error>
          </md-input-container>
        </div>
        <div class="col-sm-4 col-xs-6">
          <md-input-container class="full-width-input-wrap">
            <input mdInput placeholder="Password Expired (In Days)" formControlName="passwordExpired">                     
            <md-error *ngIf="addEditUserSetupForm.controls['passwordExpired'].hasError('pattern')">
                Please enter valid password expired days.
            </md-error>
          </md-input-container>
        </div>
        <div class="col-xs-12">
          <div class="inner checkbox-wrap">
            <md-checkbox formControlName="mustChangePassword">Must change password next login</md-checkbox>
            <md-checkbox formControlName="resetPassword">Reset Password</md-checkbox>
            <md-checkbox formControlName="isAdmin">Is Admin</md-checkbox>
            <md-checkbox formControlName="allowEmail">Allow Email</md-checkbox>
          </div>
        </div>
        <div class="col-sm-4 col-xs-12">
          <div class="full-width-input-wrap">
                <md-select placeholder="Assign Queue" multiple formControlName="assignQueue">
                    <md-option *ngFor="let queue of assignQueues" [value]="queue.value">
                        {{ queue.text }}
                    </md-option>
                </md-select>
            </div>
        </div>
    </div>

    <div class="action-wrap">
      <div class="text-right">
          <button type="button" md-button class="app-btn gray-button" (click)="closePopup()">Cancel</button>
          <button type="submit" md-button class="app-btn orange-button save-btn" (click)="saveUserSetup(addEditUserSetupForm)">{{saveBtnTitle}}</button>
      </div>
    </div>
  </form>
</div>