<div class="logo-wrap">
    <img src="assets\images\login_logo.png" class="main-logo" alt="Logo" title="Logo" />
    <img src="assets\images\menu-collapsed-logo.png" class="collapsed-logo" alt="Logo" title="Logo" />
</div>
<md-nav-list>                   
    <div *ngFor="let menu of menus">
        <a md-list-item *ngIf="menu.link != 'no-link'" [routerLink]="menu.link" routerLinkActive="active" (click)="gotoMenu()">        
            <i class="{{menu.icon}} menu-icon"></i>
            <span>{{menu.name}}</span>                
            <md-icon class="material-icons arrow-up-down arrow-down" *ngIf="menu.subMenus && menu.subMenuOpened">arrow_drop_down</md-icon>
            <md-icon class="material-icons arrow-up-down arrow-up" *ngIf="menu.subMenus && !menu.subMenuOpened">arrow_drop_up</md-icon>
        </a>

        <a md-list-item *ngIf="menu.link == 'no-link'" (click)="openSubmenu(menu)">        
            <i class="{{menu.icon}} menu-icon"></i>
            <span>{{menu.name}}</span>                
            <md-icon class="material-icons arrow-up-down arrow-down" *ngIf="menu.subMenus && !menu.subMenuOpened">arrow_drop_down</md-icon>
            <md-icon class="material-icons arrow-up-down arrow-up" *ngIf="menu.subMenus && menu.subMenuOpened">arrow_drop_up</md-icon>
        </a>

        <div class="submenu-dropdown" *ngIf="menu.subMenuOpened">
            <a md-list-item *ngFor="let submenu of menu.subMenus" [routerLink]="submenu.link" routerLinkActive="active" (click)="gotoMenu()">
                <span>{{submenu.name}}</span>
            </a>
        </div>
    </div>
</md-nav-list>