<div class="site-settings-wrap">
    <div class="site-settings-row">
        <div class="col-xs-3 site-settings-tab-col">
            <div class="site-settings-tabs">
                <ul>
                    <li *ngFor="let tab of tabs; let i = index" [class.active]="selectedTabIndex == i" (click)="onTabSelect(i)">{{tab}}</li>                    
                </ul>
            </div>
        </div>
        <div class="col-xs-9 site-settings-tab-info-col">
            <div class="tab-info" [class.active-tab]="selectedTabIndex == 0">
                <app-basic-settings></app-basic-settings>
            </div>
            <div class="tab-info" [class.active-tab]="selectedTabIndex == 1">
                <app-email-settings></app-email-settings>
            </div>
            <div class="tab-info" [class.active-tab]="selectedTabIndex == 2">
                <app-user-form-fields-settings></app-user-form-fields-settings>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>