<div class="component-wrap">
  <div class="heading-wrap">
    <div class="inner">
      <div class="popup-heading">{{heading}}</div>
      <div class="popup-close" (click)="closePopup()"><i class="material-icons">close</i></div>
    </div>
  </div>

  <div class="section-tabs">
      <ul>
          <li [class.active]="activeTab == 1" (click)="selectTab(1)">Manual Add</li>
          <li [class.active]="activeTab == 2" (click)="selectTab(2)">Upload List</li>
      </ul>
  </div>
  <div class="manual-add-wrap" *ngIf="activeTab == 1">
        <div class="form-wrap radio-cols">   
            <div class="col-inner"> 
            <md-radio-group [(ngModel)]="usernameMethod">
                <md-radio-button value="1" (change)="byUserEmail(1)">By User Name</md-radio-button>
                <md-radio-button value="2" (change)="byUserEmail(2)">By Email</md-radio-button>
            </md-radio-group>
            </div>
        </div>
        <form [formGroup]="addUserForm" novalidate>
          <div class="form-wrap radio-cols">   
            <div class="col-inner add-group-input"> 
             <div class="col-xs-12 col-sm-12 padding-left-0 padding-right-0 selected-option-cols col-border" *ngIf="usernameMethod == 1">
                <md-input-container class="full-width-input-wrap">
                    <input mdInput placeholder="Enter User Name" formControlName="users">
                    <md-error *ngIf="addUserForm.controls['users'].hasError('required')">
                        User Name is <strong>required</strong>
                    </md-error>
                </md-input-container>
                <span class="blue_sublink"><i>For adding multiple users, use comma</i></span>
             </div>
              <div class="col-xs-12 col-sm-12 padding-left-0 padding-right-0 selected-option-cols col-border" *ngIf="usernameMethod == 2">
                <md-input-container class="full-width-input-wrap">
                    <input mdInput placeholder="Enter Email" formControlName="users">
                    <md-error *ngIf="addUserForm.controls['users'].hasError('required')">
                        Email is <strong>required</strong>
                    </md-error>
                    <md-error *ngIf="addUserForm.controls['users'].hasError('pattern')">
                        Please enter a valid email id.
                    </md-error>
                </md-input-container>               
             </div>
            <div class="clearfix"></div>       

            <div class="action-wrap">
                <div class="text-right">
                    <button type="button" md-button class="app-btn gray-button" (click)="closePopup()">Cancel</button>
                    <button type="submit" md-button class="app-btn orange-button save-btn" (click)="saveUser(addUserForm)">{{saveBtnTitle}}</button>
                </div>
            </div>
            </div>
          </div>
        </form>
  </div>

  <div class="upload-list-wrap" *ngIf="activeTab == 2">
    <div class="file-upload-wrap">
        <label class="uploader">
            <div class="icon-text-wrap">
                <i class="icon-upload3"></i><br/>
                <span class="file-upload-text">Upload Files</span>
                <input type="file" name="file" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" />            
            </div>
        </label>
        
        <a href="\assets\sample.xlsx" class="download-excel-template" download>Download Excel template</a>
    </div>

    <div class="action-wrap">
        <div class="text-right">
            <button type="button" md-button class="app-btn gray-button" (click)="closePopup()">Cancel</button>
            <button type="submit" md-button class="app-btn orange-button save-btn" (click)="importUsers()">{{saveBtnTitle}}</button>
        </div>
    </div>
  </div>
</div>
