<div class="component-wrap add-edit-queue-setup">
  <div class="heading-wrap">
    <div class="inner">
      <div class="popup-heading">{{heading}}</div>
      <div class="popup-close" (click)="closePopup()"><i class="material-icons">close</i></div>
    </div>
  </div>

  <form [formGroup]="addEditQueueSetupForm" novalidate>
    <div class="form-wrap row">        
        <div class="col-sm-6 col-xs-12">
          <md-input-container class="full-width-input-wrap">
            <input mdInput placeholder="Queue Name" formControlName="queueName">              
            <md-error *ngIf="addEditQueueSetupForm.controls['queueName'].hasError('required')">
                Queue Name is <strong>required</strong>
            </md-error>
          </md-input-container>
        </div>
        <div class="col-sm-6 col-xs-12">
          <md-input-container class="full-width-input-wrap">
            <input mdInput placeholder="Queue Type" formControlName="queueType">              
            <md-error *ngIf="addEditQueueSetupForm.controls['queueType'].hasError('required')">
                Queue Type is <strong>required</strong>
            </md-error>
          </md-input-container>
        </div>
        <div class="col-sm-12 col-xs-12">
          <md-input-container class="full-width-input-wrap">
            <input mdInput placeholder="Queue For" formControlName="queueFor">                          
            <md-error *ngIf="addEditQueueSetupForm.controls['queueFor'].hasError('required')">
                Queue For is <strong>required</strong>
            </md-error>
          </md-input-container>
        </div>
        <div class="col-sm-6 col-xs-12">
          <md-input-container class="full-width-input-wrap">
            <input mdInput placeholder="Project" formControlName="project">           
            <md-error *ngIf="addEditQueueSetupForm.controls['project'].hasError('required')">
                Project is <strong>required</strong>
            </md-error>               
          </md-input-container>
        </div>
        <div class="col-sm-6 col-xs-12">
          <div class="full-width-input-wrap select-box-wrap">
            <md-select placeholder="Next Queue" formControlName="nextQueue">
              <md-option *ngFor="let queue of queues" [value]="queue.value">
                {{ queue.text }}
              </md-option>
            </md-select>   
            <md-error *ngIf="addEditQueueSetupForm.controls['nextQueue'].hasError('required') && addEditQueueSetupForm.controls['nextQueue'].touched">
                Next Queue is <strong>required</strong>
            </md-error>                     
          </div>
        </div>         
    </div>

    <div class="action-wrap">
      <div class="text-right">
          <button type="button" md-button class="app-btn gray-button" (click)="closePopup()">Cancel</button>
          <button type="submit" md-button class="app-btn orange-button save-btn" (click)="saveQueue(addEditQueueSetupForm)">{{saveBtnTitle}}</button>
      </div>
    </div>
  </form>
</div>