<div class="component-wrap change-password-wrap">
  <div class="heading-wrap">
    <div class="inner">
      <div class="popup-heading">Change Password</div>
      <div class="popup-close" (click)="closePopup()"><i class="material-icons">close</i></div>
    </div>
  </div>

  <form [formGroup]="changePasswordForm" novalidate>
    <div class="form-wrap row">
        <div class="col-xs-12">
          <md-input-container class="full-width-input-wrap">
            <input mdInput type="password" placeholder="Current Password" formControlName="currentPassword">              
            <md-error *ngIf="changePasswordForm.controls['currentPassword'].hasError('required')">
                Current Password is <strong>required</strong>
            </md-error>
          </md-input-container>
        </div>   
        <div class="col-xs-12">
          <md-input-container class="full-width-input-wrap">
            <input mdInput type="password" placeholder="New Password" formControlName="newPassword">              
            <md-error *ngIf="changePasswordForm.controls['newPassword'].hasError('required')">
                New Password is <strong>required</strong>
            </md-error>
          </md-input-container>
        </div>
        <div class="col-xs-12">
          <md-input-container class="full-width-input-wrap">
            <input mdInput type="password" placeholder="Confirm New Password" formControlName="confirmNewPassword">              
            <md-error *ngIf="changePasswordForm.controls['confirmNewPassword'].hasError('required')">
                Confirm New Password is <strong>required</strong>
            </md-error>
            <md-error *ngIf="changePasswordForm.controls['confirmNewPassword'].hasError('MatchPassword')">
                New Password does not match with Confirm New Password
            </md-error>            
          </md-input-container>
        </div>     
    </div>

    <div class="action-wrap">
      <div class="text-right">
          <button type="button" md-button class="app-btn gray-button" (click)="closePopup()">Cancel</button>
          <button type="submit" md-button class="app-btn orange-button save-btn" [disabled]="wait" (click)="updatePassword(changePasswordForm)">Save</button>
      </div>
    </div>
  </form>
</div>