<div class="section-wrap">
    <div class="top-section row-10">
        <div class="col-xs-12 col-sm-6">
            <app-heading-section heading="Cost Center">
                <ol class="breadcrumb" breadcrumbs>
                    <li><a [routerLink]="['/admin/dashboard']">Dashboard</a></li>
                    <li><a [routerLink]="['/admin/cost-center']">Cost Center</a></li>                    
                    
                </ol>
            </app-heading-section>
        </div>
        <div class="col-xs-12 col-sm-12 cost-center-details-card">
            <md-card>
                <div class="md-card-inner">
                    <div class="row">
                        <div class="col-xs-6 col-sm-3 info-cols">
                            <i class="fa fa-credit-card-alt" aria-hidden="true"></i>Cost Center 1
                        </div>
                        <div class="col-xs-6 col-sm-3 info-cols">
                            <i class="fa fa-list-ol" aria-hidden="true"></i>0002
                        </div>
                        <div class="col-xs-6 col-sm-3 info-cols">
                            <i class="fa fa-users" aria-hidden="true"></i>10
                        </div>            
                        <div class="col-xs-6 col-sm-3 info-cols">
                            <i class="fa fa-suitcase" aria-hidden="true"></i>40
                        </div>   
                    </div>
                </div>         
             </md-card>
        </div>  
        
    </div>  

    <div class="data-table-section">
        <table datatable [dtOptions]="dtOptions" class="row-border hover responsive">
            <thead>
                <tr>
                    <th class="sortable">
                        <span>JOB ID <div class="sort-arrows"><i class="fa fa-sort-asc"></i><i class="fa fa-sort-desc"></i></div></span>
                        <input class="filter-input" type="text" data-index="0" placeholder="Filter"/>
                    </th>
                    <th class="sortable">
                        <span>JOB NAME <div class="sort-arrows"><i class="fa fa-sort-asc"></i><i class="fa fa-sort-desc"></i></div></span>
                        <input class="filter-input" type="text" data-index="1" placeholder="Filter"/>
                    </th>
                    <th class="sortable">
                        <span>GROUP NAME <div class="sort-arrows"><i class="fa fa-sort-asc"></i><i class="fa fa-sort-desc"></i></div></span>
                        <input class="filter-input" type="text" data-index="2" placeholder="Filter"/>
                    </th>
                  
                    <th class="sortable">
                        <span>SUBMITTED ON <div class="sort-arrows"><i class="fa fa-sort-asc"></i><i class="fa fa-sort-desc"></i></div></span>  
                        <input class="filter-input" type="text" data-index="4" placeholder="Filter"/>
                    </th>
                    <th class="sortable">
                        <span>STATUS<div class="sort-arrows"><i class="fa fa-sort-asc"></i><i class="fa fa-sort-desc"></i></div></span>  
                        <input class="filter-input" type="text" data-index="5" placeholder="Filter"/>
                    </th>
                    <th class="sortable">
                        <span>COST <div class="sort-arrows"><i class="fa fa-sort-asc"></i><i class="fa fa-sort-desc"></i></div></span>  
                        <input class="filter-input" type="text" data-index="6" placeholder="Filter"/>
                    </th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let record of records">
                    <td data-title="JOB ID">
                        <span class="data-el">{{record.job_id}}</span>
                    </td>
                    <td data-title="NAME" class="link">
                        <span class="data-el" (click)="gotoJobDetails(record.job_id)">{{record.job_name}}</span>
                    </td>
                     <td data-title="GROUP">
                        <span class="data-el">{{record.group}}</span>
                    </td>
                    
                    
                    <td data-title="SUBMITTED DATE">
                        <span class="data-el">{{record.submitted_date}}</span>
                    </td>
                    <td data-title="STATUS">
                        <span class="data-el tag {{record.status | statusPipe}}">{{record.status}}</span>
                    </td>
                    <td data-title="COST">
                        <span class="data-el">{{record.cost}}</span>
                    </td>
                   
                </tr>
            </tbody>
        </table>
    </div>
</div>






